{% load static %}
{% load bootstrap4 %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}"/>

        {% bootstrap_css %}

    </head>
    <body>

        {% bootstrap_messages %}
        <div class="container">
             <div class="row justify-content-sm-center pt-2">
                <div class="cols-sm-12 col-lg-8">
                    <h2>Pretty diff to html</h2>
                  <form enctype="multipart/form-data" class="was-validated" novalidate>
                      {% csrf_token %}
                      <div class="form-row">
                        {% bootstrap_form form   %}
                      </div>
                      <div class="form-group row">
                        <div class="col-sm-10">
                          <button type="submit" class="btn btn-success">Parse</button>
                        </div>
                      </div>
                  </form>
                </div>
              </div>
              <div class="row justify-content-sm-center pt-1 diffs">

              </div>
        </div>

        {% bootstrap_javascript jquery='full' %}
        <script src="{% static 'jquery.base64.min.js' %}"></script>
        <script src="{% static 'main.js' %}"></script>
        {{ form.media }}
    </body>
</html>