
{% for patch in patches %}
    <div class="cols-sm-12 col-lg-8 pb-3">
    <div class="card" >
    <div class="card-header">
        {{ patch.header }}
        &nbsp;
        {% for tag in patch.tags %}
        <span class="badge badge-primary">
            {{ tag }}
        </span>
        {% endfor %}
    </div>
    <div class="card-body p-0">

            {% for hunk in patch.chunks %}
                <row class="row no-gutters row-hunk">
                    <div class="col-md-1 text-center">&nbsp;</div>
                    <div class="col-md-1 text-center separator-line">&nbsp;</div>
                    <div class="col-md-9 pl-1"> {{ hunk.label }}</div>
                </row>
                {% for line  in hunk.lines %}

                        <div class="row no-gutters row-{{ line.type.name|lower }} ">
                            <div class="col-md-1 text-center">{{ line.old_num|default:"" }}</div>
                            <div class="col-md-1 text-center separator-line" > <div class="w-50 d-inline-block">{{ line.new_num|default:"" }}</div> <div class="w-25 d-inline-block">{{ line.type}}</div></div>
                            <div class="col-md-9 pl-1">{{ line.value }}</div>
                         </div>

                {% endfor %}
            {% endfor %}
            {% if  not patch.chunks %}
                <row class="row no-gutters ">
                    <div class="col-md-12 text-center p-2"> NO DATA</div>
                </row>
            {% endif %}

    </div>
    </div>
    </div>
{% endfor %}